/* GIA LUONG------------------------------------------------------------------------------- */
body {
    font-family: 'Asap', sans-serif;
    padding-top: 70px;
    font-size: 18px;
}

h1, h2, h3, h4 {
    font-family: 'Signika Negative', sans-serif;
    color: #030391;
}
h3, h4, h5 {
    font-family: 'Asap', sans-serif;
    color: #030391;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #030391;
}

/* Nút nhấn */
.btn-main {
    background-color: #222f3e;
    border-color: #222f3e;
    color: white;
}
.btn-main:hover {
    background-color: #495057;
    border-color: #495057;
    color: white;
}

.btn-outline-main {
    background-color: transparent;
    border: 2px solid #222f3e;
    color: #222f3e;
    font-weight: bold;
}
.btn-outline-main:hover {
    background-color: #222f3e;
    color: white;
}
.btn-outline-blue {
    background-color: transparent;
    border: 2px solid #030391;
    color: #030391;
    font-weight: bold;
}
.btn-outline-blue:hover {
    background-color: #030391;
    color: white;
}
/* Come-in annimation */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* -----------------Width-------------------- */
.w-xs-50 { width: 50% !important; }
.w-sm-30 { width: 30% !important; }
.w-md-30 { width: 30% !important; }

@media (max-width: 576px) { .w-xs-50 { width: 100% !important; } }
@media (min-width: 768px) { .w-sm-30 { width: 30% !important; } }
@media (min-width: 992px) { .w-md-30 { width: 30% !important; } }

/* ------------TAB ĐĂNG NH------------------- */
.signInTab {
    background-image: url("/Assignment/1.png");
    background-repeat: no-repeat;
    height: 650px;
    /* background-color: #010f11; */
    background-size: contain;
    background-position: center;
}

.signUpTab {
    background-image: url("/Assignment/2.png");
    background-repeat: no-repeat;
    height: 650px;
    /* background-color: #010f11; */
    background-size: contain;
    background-position: center;
}

.sign-box {
    /* transform: translate(-50%, -50%); */
    box-shadow: 0 15px 25px #222f3e;
}

.user-box {
    position: relative;
    font-family: 'Asap', sans-serif;
}

.user-box input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: #222f3e;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #222f3e;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    color: #222f3e;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus~label,
.user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #222f3e;
    font-size: 16px;
}

/* -----------TRANG CHỦ--------------------- */
/* Come-in annimation */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Navigation bar */
.nbar {
    background-color: #0388b4 !important;
    color: white !important;
    padding: 0;
}

.nlink {
    color: white;
    opacity: 80%;
}

.nlink.active {
    color: white !important;
    font-weight: bold;
    font-size: 17px;
    opacity: 100%;
    /* background-color: #030391; */
    /* border-radius: 20px !important; */
}

.offcanvas {
    background-color: #222f3e;
}

.offcanvas-header h5 {
    color: white;
}

.offcanvas-body .nav-link {
    color: white !important;
}

.offcanvas-body .nav-link:hover {
    font-weight: bold;
}

/* Giới hạn văn bản hiển thị */
/* .truncate-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 50px;
}

.truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
} */
.table {
    table-layout: fixed; 
    width: 100%; 
}

.table th, .table td {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
/* Thanh phân trang */
.pagination .page-link {
    background-color: none; /* Màu nền */
    color: #222f3e; /* Màu chữ */
    border-color: #222f3e; /* Viền */
}

.pagination .page-link:hover {
    background-color: #020272; /* Màu nền khi hover */
    border-color: #020272;
    color: white;
}

.pagination .active .page-link {
    background-color: #222f3e; /* Màu nền trang đang chọn */
    border-color: #222f3e;
    color: white;
}


/* HAI DUONG------------------------------------------------------------------------------- */




/* THE HUNG------------------------------------------------------------------------------- */

/* Override lại các styles mặc định của Bootstrap */
.btn.btn-primary.mb-3:hover {
    transform: scale(0.8) !important;
    transition: transform 0.3s ease !important;
}



  
  
